.goSearch.row
  form.col-sm-8.col-sm-offset-2(ng-submit="goSearchVm.search()")

    .row.form-group

      .col-sm-11
        input.form-control(placeholder="Type user login" ng-model="goSearchVm.query")

      .col-sm-1
        .btn.btn-primary(ng-click="goSearchVm.search()") Search
